body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-image: url('https://media.giphy.com/media/OzGsbIBPdwvII/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.listings-box {
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: white;
  border-radius: 5px;
}

.listings-list {
  margin-top: 20px;
  overflow-y: scroll;
  height: 400px;
  padding: 10px;
}

form {
  display: block;
  margin-left: 15px;
  margin-right: auto;
}

#ageRating {
  float: right;
  border-radius: 50%;
  background-color: red;
  font-size: 20px;
  color: white;
  font-weight: bold;
  width: 40px;
  height: 40px;
  text-align: center;
}

#movieTime {
  border-radius: 5px;
  background-color: grey;
  width: 80px;
  text-align: center;
  font-size: 20px;
}

h1 {
  text-align: center;
  background-color: teal;
}
